form {

    input {

        display: block;
        margin-bottom: 10px;
        border: 1px solid $lightGray;
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
        font-size: 15px;
        border-radius: 3px;

        &:last-of-type { margin-bottom: 0; }

    }

    .blockForm {

        padding: 25px 0;
        margin-bottom: 25px;
        background-color: white;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

        .padding { padding: 15px 50px; }

        .heading {

            font-size: 18px;
            margin: 0;

        }

        .caption {

            font-size: 15px;

        }

        input:last-of-type {

            margin-bottom: 0;

        }

    }

}
