#login {

    width: 440px;
    margin: 0 auto;

    a {

        display: inline-block;
        font-size: 15px;

    }

    img {

        width: 70px;
        height: auto;
        display: block;
        text-align: center;
        margin: 0 auto 50px auto;

    }

    .loginInfo {

        font-size: 14px;
        color: $darkGray;

    }

}
